.homer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.homer__img {
  max-width: 85%;
  transition: all .1s ease-in-out;
  opacity: 1;
  height: 27vh;
  max-height: 305px;
  object-fit: cover;
}
